<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Tittle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/HoaHong/Logo.ico">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/templatemo.css">
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <style>
        .btn_buy {
            background-color: #59ab6e;
            color: white;
            border: 2px solid #59ab6e;
            border-radius: 5px;
            padding: 1vh 1vw;
            font-size: 16px;
            margin: 0 2px;
            float: right;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;
        }

            .btn_buy:hover {
                background-color: white;
                color: #59ab6e;
                box-sizing: border-box;
                scale: 1.1;
            }
    </style>
</head>

<body>
    <div id="header" style=" position: fixed; z-index: 1000; width: 100vw;">
        <!-- Start Top Nav -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
            <div class="container text-light">
                <div class="w-100 d-flex justify-content-between">
                    <div>
                        <i class="fa fa-envelope mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=shopfiohana@gmail.com">shopfiohana@gmail.com</a>
                        <i class="fa fa-phone mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0397056284">0397-056-284</a>
                    </div>
                    <div>
                        <a class="text-light" href="https://fb.com" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Close Top Nav -->
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light shadow" style="display: flex; align-items: center; background-color: white">
            <div class="container d-flex justify-content-between align-items-center">

                <a class="navbar-brand text-success logo h1 align-self-center" style="padding: 0; margin: 0" href="~/Home/Home">
                    <img src="~/Assets//img/HoaHong/Logo.png" style="width: 80px; height: 80px;" alt="Logo" />
                </a>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/About/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Shop/Shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Contact/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Report">Báo cáo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar align-self-center d-flex">
                        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                                <div class="input-group-text">
                                    <i class="fa fa-fw fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                            <i class="fa fa-fw fa-search text-dark mr-2"></i>
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" href="#">
                            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            @*<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>*@
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" href="~/Login/Login">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            @*<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>*@
                        </a>
                    </div>
                </div>

            </div>
        </nav>
        <!-- Close Header -->
    </div>
    <div id="padding_header">
        @RenderBody()
    </div>
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">FioHana Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            140 Đ. Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:0397056284">0397-056-284</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=shopfiohana@gmail.com">shopfiohana@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 1 , tieu_chi = "loai_hoa"})">Hoa hồng</a></li>
                        <li><a class="text-decoration-none" href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 2 , tieu_chi = "loai_hoa"})">Hoa hướng dương</a></li>
                        <li><a class="text-decoration-none" href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 3 , tieu_chi = "loai_hoa"})">Hoa ly</a></li>
                        <li><a class="text-decoration-none" href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 4 , tieu_chi = "loai_hoa"})">Tulíp</a></li>
                        <li><a class="text-decoration-none" href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 5 , tieu_chi = "loai_hoa"})">Hoa Lan</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="~/Home/Home">Home</a></li>
                        <li><a class="text-decoration-none" href="~/About/About">About Us</a></li>
                        <li><a class="text-decoration-none" href="~/Contact/Contact#shop_location">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="~/Contact/Contact">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2024 FioHana Shop
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/Assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/templatemo.js"></script>
    <link href="~/Assets/css/templatemo.css" rel="stylesheet" />
    <script src="~/Assets/js/custom.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick-theme.css">
    <!-- Start Slider Script -->
    <script src="assets/js/slick.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            var $carousel = $('#carousel-related-product');
            if ($carousel.length) {
                $carousel.slick({
                    infinite: true,
                    arrows: false,
                    slidesToShow: 4,
                    slidesToScroll: 3,
                    dots: true,
                    responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 3
                        }
                    }
                    ]
                });
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            var content_padding = document.getElementById('padding_header');
            var height_header = document.getElementById('header').offsetHeight;
            content_padding.style.paddingTop = height_header + 'px';
        });
    </script>
    <!-- End Slider Script -->
</body>

</html>