@using Do_An.Models
@model Do_An.Models.cart
@{
    ViewBag.Tittle = "Order Confirmation";
    Layout = "~/Views/_shared/_LayoutPage1.cshtml";
}

<style>
    :root {
        --primary-color: #1779ba;
        --secondary-color: #0b386f;
        --gray: #9b9b9b;
        --light-gray: #eeeeee;
        --medium-gray: #c8c3be;
        --dark-gray: #96918c;
        --black: #322d28;
        --white: #f3f3f3;
        --body-background: #ffffff;
        --body-font-color: #322d28;
        --sans: 'Montserrat', sans-serif;
        --serif: 'Lora', Georgia, serif;
    }

    body {
        font-family: var(--sans);
        font-weight: 400;
        color: var(--body-font-color);
    }

    header.top-bar h1 {
        font-family: var(--sans);
    }

    main {
        margin-top: 4rem;
        min-height: calc(100vh - 107px);
    }

    .inner-container {
        max-width: 800px;
        margin: 0 auto;
    }

    table.invoice {
        background: #fff;
        border-spacing: 15px; /* Adding space between table cells */
    }

    .invoice .num {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: .8em;
    }

    table.invoice tr,
    table.invoice td {
        background: #fff;
        text-align: left;
        font-weight: 400;
        color: var(--body-font-color);
        padding: 15px; /* Adding space inside table cells */
    }

        table.invoice tr.header td img {
            max-width: 300px;
        }

        table.invoice tr.header h2 {
            text-align: right;
            font-family: var(--sans);
            font-weight: 200;
            font-size: 2rem;
            color: var(--primary-color);
        }

        table.invoice tr.intro td:nth-child(2) {
            text-align: right;
        }

        table.invoice tr.details > td {
            padding-top: 4rem;
            padding-bottom: 0;
        }

        table.invoice tr.details td,
        table.invoice tr.details th {
            text-align: center;
        }

            table.invoice tr.details td:last-child {
                text-align: right;
            }

        table.invoice tr.details table thead,
        table.invoice tr.details table tbody {
            position: relative;
        }

            table.invoice tr.details table thead:after,
            table.invoice tr.details table tbody:after {
                content: '';
                height: 1px;
                position: absolute;
                width: 100%;
                left: 0;
                margin-top: -1px;
                background: var(--medium-gray);
            }

        table.invoice tr.totals td {
            padding-top: 0;
        }

        table.invoice tr.totals table td {
            padding-top: 0;
            padding-bottom: 0;
        }

            table.invoice tr.totals table td:nth-child(1) {
                font-weight: 500;
            }

            table.invoice tr.totals table td:nth-child(2) {
                text-align: right;
                font-weight: 200;
            }

        table.invoice tr.totals table tr:nth-last-child(2) td {
            padding-bottom: .5em;
        }

            table.invoice tr.totals table tr:nth-last-child(2) td:last-child {
                position: relative;
            }

                table.invoice tr.totals table tr:nth-last-child(2) td:last-child:after {
                    content: '';
                    height: 4px;
                    width: 110%;
                    border-top: 1px solid var(--primary-color);
                    border-bottom: 1px solid var(--primary-color);
                    position: relative;
                    right: 0;
                    bottom: -.575rem;
                    display: block;
                }

        table.invoice tr.totals table tr.total td {
            font-size: 1.2em;
            padding-top: .5em;
            font-weight: 700;
        }

            table.invoice tr.totals table tr.total td:last-child {
                font-weight: 700;
            }

    .additional-info h5 {
        font-size: .8em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--primary-color);
    }
</style>

<div class="row expanded" style="margin: 10vh auto">
    <main class="columns">
        <div class="inner-container">
            <section class="row">
                <div class="callout large invoice-container">
                    <table class="invoice" style="border: 1px solid #54b588; margin: auto">
                        <tr class="header">
                            <td>
                                <img style="width: 90px; height: 90px" src="~/Assets/img/HoaHong/Logo.png" alt="FioHana" />
                            </td>
                            <td class="align-right">
                                <h2 style="color: #54b588; font-weight: 700;">FioHana</h2>
                            </td>
                        </tr>
                        <tr class="intro">
                            <td>
                                Cảm ơn bạn đã mua hàng.
                            </td>
                            <td class="text-right">
                                <span class="num">@ViewBag.OrderId</span><br>
                                @Session["DateOrder"]
                            </td>
                        </tr>
                        <tr class="details">
                            <td colspan="2">
                                <table style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th class="desc">Chi tiết sản phẩm</th>
                                            <th class="qty">Số lượng</th>
                                            <th class="amt">Tiền hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Session["SelectedCartItems"] != null)
                                        {
                                            var selectedItems = Session["SelectedCartItems"] as List<cart>;
                                            foreach (var item in selectedItems)
                                            {
                                                <tr class="item">
                                                    <td style="text-align: center" class="desc">@item.product.ten</td>
                                                    <td style="text-align: center" class="qty">@item.soluong_sp</td>
                                                    <td style="text-align: center" class="amt">@String.Format("{0:N0}", Convert.ToInt32(item.product.gia * item.soluong_sp)) đ</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3" style="text-align: center">Không có sản phẩm nào được chọn.</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </td>
                        </tr>
                        <tr class="totals">
                            <td></td>
                            <td>
                                <table style="margin-top: 30px">
                                    <tr class="subtotal">
                                        <td class="num">Tổng tiền</td>
                                        <td style="font-weight: 700" class="num">@String.Format("{0:N0}", Convert.ToDecimal(Session["TotalAmount"])) đ</td>
                                    </tr>
                                    <tr class="fees">
                                        <td class="num">Phí vận chuyển</td>
                                        <td style="font-weight: 700" class="num">@String.Format("{0:N0}", 32000) đ</td>
                                    </tr>
                                    @if (Session["DiscountAmount"] != null)
                                    {
                                        <tr class="tax">
                                            <td class="num">Mã giảm giá</td>
                                            <td style="font-weight: 700" class="num">@String.Format("{0:N0}", Convert.ToDecimal(Session["DiscountAmount"])) đ</td>
                                        </tr>
                                    }
                                    <tr class="total">
                                        <td>Thành tiền</td>
                                        <td>@String.Format("{0:N0}", Convert.ToDecimal(Session["FinalAmount"])) Đ</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="columns">
                                    <h5>Thông tin nhận hàng</h5>
                                    <p>
                                        @Session["Name"]<br>
                                        @Session["address"]<br>
                                        @Session["ward"]<br>
                                        @Session["district"], @Session["city"]
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="columns">
                                    <h5>Phương thức thanh toán</h5>
                                    <p style="text-transform: uppercase">
                                        @Session["PaymentMethod"]
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </main>
</div>