@model IEnumerable<Do_An.Models.product>
@using System.Globalization

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_shared/_LayoutPage1.cshtml";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/Assets/img/Index/HoaTuongTrung.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>FioHana</b> Flower Shop</h1>
                            <h3 class="h2">FioHana là một shop bán hoa top đầu Việt Nam trong chuỗi cung ứng về hoa theo chủ đề</h3>
                            <p>
                                Các chủ đề và dịp như là khai trương, chúc mừng sinh nhật, chia buồn, kỷ niệm, ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/Assets/img/Index/DamBaoChatLuong.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Chất lượng đảm bảo</h1>
                            <h3 class="h2">Đạt chuẩn quốc tế</h3>
                            <p>
                                Đảm bảo chất lượng hoa đúng như trong hình ảnh
                                Bất cứ sự <strong>hư hỏng</strong> nào bạn có thể liên hệ với chúng tôi để được đổi trả.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/Assets/img/Index/shipper.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Giao hàng nhanh</h1>
                            <h3 class="h2">Đảm bảo đúng hạn</h3>
                            <p>
                                Chúng tôi cố gắng giao hàng nhanh nhất có thể
                                Với các chi nhánh rải rác khắp cả nước
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Hoa bán chạy nhất</h1>
            <p>
                Top những loài hoa được mua nhiều nhất
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 1 , tieu_chi = "loai_hoa"})"><img src="~/Assets/img/HoaHong/HoaHuongDuong.png"  class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Hoa Hồng</h5>
            @*<p class="text-center"><a class="btn btn-success">Mua</a></p>*@
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 2 , tieu_chi = "loai_hoa"})"><img src="~/Assets/img/HoaHong/HoaHuongDuong.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Hoa Hướng Dương</h2>
            @*<p class="text-center"><a class="btn btn-success">Mua</a></p>*@
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="@Url.Action("PhanLoaiHoa", "Shop", new { id = 3 , tieu_chi = "loai_hoa"})"><img src="~/Assets/img/HoaHong/HoaLy.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Hoa Ly</h2>
            @*<p class="text-center"><a class="btn btn-success">Mua</a></p>*@
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Sản phẩm nổi bật</h1>
                <p>
                    Những sản phẩm có rating cao nhất
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#" style="height: 60vh">
                            <img src="@Url.Content("~/Assets/img/" + product.hinh_anh)" class="card-img-top img-fluid" alt="..." style="width: 100%; height: 100%;">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@product.gia.ToString("N0", CultureInfo.GetCultureInfo("vi-VN")) VND</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">@product.ten</a>
                            <p class="card-text">
                                @product.mo_ta
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                            <button class="btn_buy">Mua ngay</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Featured Product -->
